<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Footy App</title>
</head>
<body>
<h1>Footy Goodness</h1>
    <ul>
        <li><a href="/update/stats">update stats</a></li>
        <li><a href="/update/points">update points</a></li>
        <li><a href="/view/stats">view stats</a></li>
        <li><a href="/view/points">view points</a></li>
    </ul>

{{{body}}}

</body>
</html>