<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Footy App</title>
    <link href="css/app.css" rel="stylesheet">
    <link href="fonts/icon.css" rel="stylesheet">
</head>
<body>
    <div class="underlay"></div>
    <div class="header row">
        <div class="span-12">
            <h1>Like A Boss</h1>
            <div  id="menu">
                <a href="#menu" class="icon-menu"><span class="speak">show menu</span></a>
                <ul class="main-menu">
                    <li><a href="/update/stats">update stats</a></li>
                    <li><a href="/update/points">update points</a></li>
                    <li><a href="/view/stats">view stats</a></li>
                    <li><a href="/view/points">view points</a></li>
                </ul>
            </div>
        </div>
    </div>

    {{{body}}}

</body>
</html>