.left {
  float: left!important;
}

.right {
  float: right!important;
}
.text-right{
  text-align right
}
.text-center{
  text-align center
}

.clear {
  clear: both;
}

.internal-link{
  outline: 0!important;
  border: 0;
}

.animate {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -ms-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.full-height{
  height:100%;
}

.middle{
  middle();
}

.ellipsis{
  ellipsis();
}

.clearfix{
  clearfix();
}

.sticky{
  sticky();
}

.speak{
  speak();
}

.rotate-180 {
  transform(rotate(180deg));
}

.visible-touch,
.hidden{
  display:none !important;
}
body .touch-device .visible-touch,
body .visible{
  display: inherit;
}


html{
  /* Orientation */
  &:before {
    display:none;
    @media (orientation:portrait) {
      content: 'portrait';
      font-family:'portrait';
    }
    @media (orientation:landscape) {
      content: 'landscape';
      font-family:'landscape';
    }
  }
  /* view */
  &:after {
    display:none;
    @media less-than-small {
      content: 'small';
      font-family:'small';
    }
    @media (min-width:small-screen+1) {
      content: 'desktop';
      font-family:'desktop';
    }
  }
}




@media less-than-medium{
  .sticky-small-medium {
    sticky();
  }
  .ellipsis-small-medium {
    ellipsis();
  }
  .speak-small-medium{
    speak();
  }
  .middle-small-medium{
    middle();
  }
  .visible-large,
  .hidden-small-medium{
    display:none!important;
  }
}

@media less-than-small{
  body .sticky-small{
    sticky();
  }
  .ellipsis-small {
    ellipsis();
  }
  .speak-small{
    speak();
  }
  .middle-small{
    middle();
  }
  .visible-medium-large,
  .hidden-small{
    display:none!important;
  }
}

@media larger-than-small{
  body .sticky-medium-large{
    sticky();
  }
  .ellipsis-medium-large {
    ellipsis();
  }
  .speak-medium-large {
    speak();
  }
  .middle-medium-large {
    middle();
  }
  .visible-small,
  .hidden-medium-large{
    display:none!important;
  }
}