
//grid
gutter = 36px;
column = 100px;
column-gap = 40px;
textIndent = 40px;

small-screen = 600px;
medium-screen = 900px;
large-screen = ((column * 12) + (column-gap * 11))px;
full-width = large-screen + gutter + gutter;
column-space = column + column-gap;

less-than-small = " (max-width: " + small-screen + ")"
less-than-medium = " (max-width: " + medium-screen + ")"
larger-than-small = " (min-width: " + (small-screen + 1) + ")"

//typography
base-font-size = 16px;
font = Helvetica Neue, Helvetica, Arial, sans-serif;

// colours
link = #0070a5;
primary = #333333;
white = #fff;
secondary = #666666;
inactive = #999999;
error = #D21717;
background-dark = #eaeaea;
background-light = #f4f4f4;
background-focus = #004ac5;
bg-blue = rgba(0,35,115,0.7)
bg-green = rgba(0,50,15,0.7)
bg-red = rgba(150,0,0,0.7)
bg-orange = rgba(250,150,0,0.7)


//mixins
ellipsis()
  white-space : nowrap;
  overflow : hidden;
  text-overflow : ellipsis;
  -o-text-overflow : ellipsis;
  -ms-text-overflow : ellipsis;
  display : inline-block;
  max-width : 100%;


speak()
  position : absolute !important;
  clip : rect(1px, 1px, 1px, 1px);
  clip : rect(1px 1px 1px 1px); /* IE6, IE7 */
  padding :0 ;
  border :0 ;
  height : 1px ;
  width : 1px ;
  overflow : hidden;
  display : block;


sticky()
  position : -webkit-sticky;
  position : -moz-sticky;
  position : -ms-sticky;
  position : -o-sticky;
  position : sticky;
  top : 0;
  z-index : 25;

filter(style)
  -webkit-filter: style;
  -moz-filter: style;
  -o-filter: style;
  -ms-filter: style;
  filter: style;


middle()
  display: flex;
  justify-content: center;
  align-items: center;
