
<div class="body">
    <div class="info-message">
        {{msg}}
    </div>
    <div class="content">
        {{> week-summary}}
        {{> players-summary}}
    </div>
</div>

<div class="row">
    <div class="span-12">
        <div class="footer">

        </div>
    </div>

</div>