
<div class="body row">
    <div class="info-message">
        {{msg}}
    </div>
    <div class="content">

    </div>
</div>

<div class="row">
    <div class="span-12">
        <div class="footer">
            Most Recent Update: week {{week.CURRENTWEEK}}
        </div>
    </div>

</div>