html {
  background: #000;
}
html,
body,
#main {
  height: 100%;
  width: 100%;
  color: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
}
html,
body {
  padding: 0;
  margin: 0;
}
ol,
ul,
dl,
li,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 100;
}
p {
  margin: 1em 0;
}
time {
  display: block;
  font-size: 12px;
  margin: 1em 0 1.8em;
  color: #a4a4a4;
}
video,
img {
  display: block;
  max-width: 100%;
  background: #000 url("/src/images/animated/ajax-loader.gif") center center no-repeat;
}
a {
  color: #0070a5;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.has-focus,
a.has-focus:focus,
.has-focus,
.has-focus:focus {
  background-color: #004ac5;
  color: #fff !important;
  -webkit-box-shadow: 0px 0px 0px 2px #004ac5;
  box-shadow: 0px 0px 0px 2px #004ac5;
}
a.has-focus i,
a.has-focus:focus i,
.has-focus i,
.has-focus:focus i,
a.has-focus span,
a.has-focus:focus span,
.has-focus span,
.has-focus:focus span {
  color: #fff;
}
body {
  width: 100%;
  min-width: 300px;
}
.row {
  zoom: 1;
  width: 95.7943925233645%;
  max-width: 1640px;
  margin: 0 auto;
  clear: left;
  overflow: visible;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.span-12,
.span-11,
.span-10,
.span-9,
.span-8,
.span-7,
.span-6,
.span-5,
.span-4,
.span-3,
.span-2,
.span-1 {
  float: left;
  margin-left: 2.4390243902439024%;
}
.alpha,
.span-12:first-child,
.span-11:first-child,
.span-10:first-child,
.span-9:first-child,
.span-8:first-child,
.span-7:first-child,
.span-6:first-child,
.span-5:first-child,
.span-4:first-child,
.span-3:first-child,
.span-2:first-child,
.span-1:first-child {
  margin-left: 0;
  clear: left;
}
.span-12 .cushioned {
  padding: 2.4390243902439024%;
}
.span-12 {
  width: 100%;
}
.span-11 .cushioned {
  padding: 2.666666666666667%;
}
.span-11 {
  width: 91.46341463414635%;
}
.span-10 .cushioned {
  padding: 2.941176470588235%;
}
.span-10 {
  width: 82.92682926829268%;
}
.span-9 .cushioned {
  padding: 3.278688524590164%;
}
.span-9 {
  width: 74.39024390243902%;
}
.span-8 .cushioned {
  padding: 3.7037037037037033%;
}
.span-8 {
  width: 65.85365853658537%;
}
.span-7 .cushioned {
  padding: 4.25531914893617%;
}
.span-7 {
  width: 57.3170731707317%;
}
.span-6 .cushioned {
  padding: 5%;
}
.span-6 {
  width: 48.78048780487805%;
}
.span-5 .cushioned {
  padding: 6.0606060606060606%;
}
.span-5 {
  width: 40.243902439024396%;
}
.span-4 .cushioned {
  padding: 7.6923076923076925%;
}
.span-4 {
  width: 31.70731707317073%;
}
.span-3 .cushioned {
  padding: 10.526315789473683%;
}
.span-3 {
  width: 23.170731707317074%;
}
.span-2 .cushioned {
  padding: 16.666666666666664%;
}
.span-2 {
  width: 14.634146341463413%;
}
.span-1 .cushioned {
  padding: 40%;
}
.span-1 {
  width: 6.097560975609756%;
}
.span-offset1,
.span-offset1:first-child {
  margin-left: 8.536585365853659%;
}
.span-offset1.alpha {
  margin-left: 6.097560975609756%;
}
.span-offset2,
.span-offset2:first-child {
  margin-left: 17.073170731707318%;
}
.span-offset2.alpha {
  margin-left: 14.634146341463413%;
}
.span-offset3,
.span-offset3:first-child {
  margin-left: 25.609756097560975%;
}
.span-offset3.alpha {
  margin-left: 23.170731707317074%;
}
.span-offset4,
.span-offset4:first-child {
  margin-left: 34.146341463414636%;
}
.span-offset4.alpha {
  margin-left: 31.70731707317073%;
}
.span-offset5,
.span-offset5:first-child {
  margin-left: 42.68292682926829%;
}
.span-offset5.alpha {
  margin-left: 40.243902439024396%;
}
.span-offset6,
.span-offset6:first-child {
  margin-left: 51.21951219512195%;
}
.span-offset6.alpha {
  margin-left: 48.78048780487805%;
}
.span-offset7,
.span-offset7:first-child {
  margin-left: 59.756097560975604%;
}
.span-offset7.alpha {
  margin-left: 57.3170731707317%;
}
.span-offset8,
.span-offset8:first-child {
  margin-left: 68.29268292682927%;
}
.span-offset8.alpha {
  margin-left: 65.85365853658537%;
}
.span-offset9,
.span-offset9:first-child {
  margin-left: 76.82926829268293%;
}
.span-offset9.alpha {
  margin-left: 74.39024390243902%;
}
.span-offset10,
.span-offset10:first-child {
  margin-left: 85.36585365853658%;
}
.span-offset10.alpha {
  margin-left: 82.92682926829268%;
}
.span-offset11,
.span-offset11:first-child {
  margin-left: 93.90243902439023%;
}
.span-offset11.alpha {
  margin-left: 91.46341463414635%;
}
body .row.bleed {
  width: 100%;
}
@media  (max-width: 900px) {
  .span-12-medium,
  .span-11-medium,
  .span-10-medium,
  .span-9-medium,
  .span-8-medium,
  .span-7-medium,
  .span-6-medium,
  .span-5-medium,
  .span-4-medium,
  .span-3-medium,
  .span-2-medium,
  .span-1-medium {
    float: left;
    margin-left: 2.4390243902439024%;
  }
  .alpha-medium,
  [class*=span-offset],
  [class*=span-offset]:first-child,
  .span-12-medium:first-child,
  .span-11-medium:first-child,
  .span-10-medium:first-child,
  .span-9-medium:first-child,
  .span-8-medium:first-child,
  .span-7-medium:first-child,
  .span-6-medium:first-child,
  .span-5-medium:first-child,
  .span-4-medium:first-child,
  .span-3-medium:first-child,
  .span-2-medium:first-child,
  .span-1-medium:first-child {
    margin-left: 0;
    clear: left;
  }
  .span-12-medium {
    width: 100%;
  }
  .span-11-medium {
    width: 91.46341463414635%;
  }
  .span-10-medium {
    width: 82.92682926829268%;
  }
  .span-9-medium {
    width: 74.39024390243902%;
  }
  .span-8-medium {
    width: 65.85365853658537%;
  }
  .span-7-medium {
    width: 57.3170731707317%;
  }
  .span-6-medium {
    width: 48.78048780487805%;
  }
  .span-5-medium {
    width: 40.243902439024396%;
  }
  .span-4-medium {
    width: 31.70731707317073%;
  }
  .span-3-medium {
    width: 23.170731707317074%;
  }
  .span-2-medium {
    width: 14.634146341463413%;
  }
  .span-1-medium {
    width: 6.097560975609756%;
  }
  .span-1-medium .cushioned {
    padding: 40%;
  }
  .span-2-medium .cushioned {
    padding: 16.666666666666664%;
  }
  .span-3-medium .cushioned {
    padding: 10.526315789473683%;
  }
  .span-4-medium .cushioned {
    padding: 7.6923076923076925%;
  }
  .span-5-medium .cushioned {
    padding: 6.0606060606060606%;
  }
  .span-6-medium .cushioned {
    padding: 5%;
  }
  .span-7-medium .cushioned {
    padding: 4.25531914893617%;
  }
  .span-8-medium .cushioned {
    padding: 3.7037037037037033%;
  }
  .span-9-medium .cushioned {
    padding: 3.278688524590164%;
  }
  .span-10-medium .cushioned {
    padding: 2.941176470588235%;
  }
  .span-11-medium .cushioned {
    padding: 2.666666666666667%;
  }
  .span-12-medium .cushioned {
    padding: 2.4390243902439024%;
  }
  body .row-medium {
    width: 95.7943925233645%;
  }
  body .row.bleed-medium {
    width: 100%;
  }
}
@media  (max-width: 600px) {
  .span-12,
  .span-11,
  .span-10,
  .span-9,
  .span-8,
  .span-7,
  .span-6,
  .span-5,
  .span-4,
  .span-3,
  .span-2,
  .span-1 {
    width: 100%;
    margin-left: 0;
  }
  .span-12 .cushioned,
  .span-11 .cushioned,
  .span-10 .cushioned,
  .span-9 .cushioned,
  .span-8 .cushioned,
  .span-7 .cushioned,
  .span-6 .cushioned,
  .span-5 .cushioned,
  .span-4 .cushioned,
  .span-3 .cushioned,
  .span-2 .cushioned,
  .span-1 .cushioned {
    padding: 2.18978102189781%;
  }
  .span-12-small,
  .span-11-small,
  .span-10-small,
  .span-9-small,
  .span-8-small,
  .span-7-small,
  .span-6-small,
  .span-5-small,
  .span-4-small,
  .span-3-small,
  .span-2-small,
  .span-1-small {
    float: left;
    margin-left: 2.4390243902439024%;
  }
  .alpha-small,
  [class*=span-offset],
  [class*=span-offset]:first-child,
  .span-12-small:first-child,
  .span-11-small:first-child,
  .span-10-small:first-child,
  .span-9-small:first-child,
  .span-8-small:first-child,
  .span-7-small:first-child,
  .span-6-small:first-child,
  .span-5-small:first-child,
  .span-4-small:first-child,
  .span-3-small:first-child,
  .span-2-small:first-child,
  .span-1-small:first-child {
    margin-left: 0;
    clear: left;
  }
  .span-12-small {
    width: 100%;
  }
  .span-11-small {
    width: 91.46341463414635%;
  }
  .span-10-small {
    width: 82.92682926829268%;
  }
  .span-9-small {
    width: 74.39024390243902%;
  }
  .span-8-small {
    width: 65.85365853658537%;
  }
  .span-7-small {
    width: 57.3170731707317%;
  }
  .span-6-small {
    width: 48.78048780487805%;
  }
  .span-5-small {
    width: 40.243902439024396%;
  }
  .span-4-small {
    width: 31.70731707317073%;
  }
  .span-3-small {
    width: 23.170731707317074%;
  }
  .span-2-small {
    width: 14.634146341463413%;
  }
  .span-1-small {
    width: 6.097560975609756%;
  }
  .span-1-small .cushioned {
    padding: 40%;
  }
  .span-2-small .cushioned {
    padding: 16.666666666666664%;
  }
  .span-3-small .cushioned {
    padding: 10.526315789473683%;
  }
  .span-4-small .cushioned {
    padding: 7.6923076923076925%;
  }
  .span-5-small .cushioned {
    padding: 6.0606060606060606%;
  }
  .span-6-small .cushioned {
    padding: 5%;
  }
  .span-7-small .cushioned {
    padding: 4.25531914893617%;
  }
  .span-8-small .cushioned {
    padding: 3.7037037037037033%;
  }
  .span-9-small .cushioned {
    padding: 3.278688524590164%;
  }
  .span-10-small .cushioned {
    padding: 2.941176470588235%;
  }
  .span-11-small .cushioned {
    padding: 2.666666666666667%;
  }
  .span-12-small .cushioned {
    padding: 2.4390243902439024%;
  }
  body .row-small {
    width: 95.7943925233645%;
  }
  body .row.bleed-small {
    width: 100%;
  }
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.clear {
  clear: both;
}
.internal-link {
  outline: 0 !important;
  border: 0;
}
.animate {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -ms-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -moz-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -o-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -ms-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}
.full-height {
  height: 100%;
}
.middle {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  top: 0;
  z-index: 25;
}
.speak {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  clip: rect(1px 1px 1px 1px);
/* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  display: block;
}
.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.visible-touch,
.hidden {
  display: none !important;
}
body .touch-device .visible-touch,
body .visible {
  display: inherit;
}
html:before {
  display: none;
}
@media (orientation:portrait) {
  html:before {
    content: 'portrait';
    font-family: 'portrait';
  }
}
@media (orientation:landscape) {
  html:before {
    content: 'landscape';
    font-family: 'landscape';
  }
}
html:after {
  display: none;
}
@media  (max-width: 600px) {
  html:after {
    content: 'small';
    font-family: 'small';
  }
}
@media (min-width:small-screen+1) {
  html:after {
    content: 'desktop';
    font-family: 'desktop';
  }
}
@media  (max-width: 900px) {
  .sticky-small-medium {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 25;
  }
  .ellipsis-small-medium {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }
  .speak-small-medium {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px);
/* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    display: block;
  }
  .middle-small-medium {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .visible-large,
  .hidden-small-medium {
    display: none !important;
  }
}
@media  (max-width: 600px) {
  body .sticky-small {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 25;
  }
  .ellipsis-small {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }
  .speak-small {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px);
/* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    display: block;
  }
  .middle-small {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .visible-medium-large,
  .hidden-small {
    display: none !important;
  }
}
@media  (min-width: 601px) {
  body .sticky-medium-large {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0;
    z-index: 25;
  }
  .ellipsis-medium-large {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
  }
  .speak-medium-large {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px);
/* IE6, IE7 */
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    display: block;
  }
  .middle-medium-large {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -o-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .visible-small,
  .hidden-medium-large {
    display: none !important;
  }
}
body .icon-menu {
  font-size: 32px;
  text-shadow: 0 0 10px #000;
  color: #fff;
  position: absolute;
  top: 12px;
  right: 22px;
  padding: 0 22px 2px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
body .icon-menu:hover,
body .icon-menu:focus,
body .icon-menu:active {
  background: rgba(250,150,0,0.7);
  text-decoration: none;
}
.main-menu {
  position: absolute;
  top: 52px;
  right: 22px;
  display: none;
}
.main-menu li {
  background: rgba(250,150,0,0.7);
  text-align: right;
  font-weight: 100;
}
.main-menu li a {
  display: block;
  font-size: 1.25em;
  line-height: 2.5em;
  padding: 0 20px 0 40px;
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 0 0 10px rgba(150,0,0,0.7);
}
.main-menu li a:hover {
  background: rgba(0,0,0,0.5);
}
:target .main-menu {
  display: block;
}
:target .icon-menu {
  background: rgba(250,150,0,0.7);
}
@media  (max-width: 600px) {
  .header .icon-menu {
    font-size: 24px;
  }
  .main-menu li a {
    font-size: 1em;
  }
}
.underlay {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../images/backgrounds/deancourt-1280.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: -90px;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  z-index: -1;
}
h1 {
  text-transform: uppercase;
  padding: 2.7em 0;
  line-height: 1em;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 0 10px #000;
  letter-spacing: 10px;
  font-weight: 200;
}
@media  (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
}
.summary {
  white-space: nowrap;
  line-height: 3em;
}
.summary h2 {
  text-align: center;
}
.summary h3 {
  font-weight: 200;
}
.summary li {
  line-height: 1.2em;
}
.summary-content {
  background-color: rgba(0,0,0,0.25);
}
.week-summary {
  background: rgba(150,0,0,0.7);
}
.player-summary {
  background: rgba(0,50,15,0.7);
}
