.summary{
  white-space nowrap
  line-height 3em
  h2{
    text-align center
  }
  h3 {
    font-weight 200
  }
  li {
    line-height: 1.2em;
  }
}

.week-summary{
  background bg-red
}

.player-summary{
  background bg-green
}