@import 'nib'

@import "core/variables";
@import "core/reset";
@import "core/grid";
@import "core/helpers";

@import "pages/menu";
@import "pages/banner";
@import "pages/summary";
@import "pages/player";